<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Comments</h1>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="100%"
    *ngFor="let comment of comments"
  >
    <mat-card>
      <mat-card-title>{{ comment.title }}</mat-card-title>
      <mat-card-content>
        <p>{{ comment.content }}</p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a
          class="goRight"
          mat-button
          (click)="onDelete(comment)"
        >Delete</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
