<h1>Add comment</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #g="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" matInput ngModel>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea
          name="content"
          required
          ngModel
          matInput
        ></textarea>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="g.invalid"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
