<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>NEWS</h1>
  <a routerLink="/posts/new" mat-button>NEW POST</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="100%"
    *ngFor="let news of newses"
  >
    <mat-card>
      <mat-card-title>{{ news.title }}</mat-card-title>
      <img
        *ngIf="news.image"
        [src]="'http://localhost:8000/uploads/' + news.image"
        [alt]="'Photo of ' + news.title"
        mat-card-image
      />
      <mat-card-content>
        <p>{{ news.date }}</p>
        <p class="text">{{ news.content }}</p>
      </mat-card-content>
    </mat-card>
    <app-comment></app-comment>
    <app-edit-comment></app-edit-comment>
  </div>
</div>
