<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>NEWS</h1>
  <a routerLink="/posts/new" mat-button>NEW POST</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="100%"
    *ngFor="let news of newses"
  >
    <mat-card>
      <mat-card-title>{{ news.title }}</mat-card-title>
      <img
        *ngIf="news.image"
        [src]="'http://localhost:8000/uploads/' + news.image"
        [alt]="'Photo of ' + news.title"
        mat-card-image
      />
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a
          [routerLink]="['/posts/', news.id]"
          mat-button
        >Read Full Post</a>
        <p>{{ news.date }}</p>
        <a
          class="goRight"
          mat-button
          (click)="onDelete(news)"
        >Delete</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
